body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #FFFFFF;
}

header {
    background: transparent;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.hero-content {
    max-width: 50%;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.hero h2 {
    font-size: 32px;
    color: #00A1E6;
    margin-bottom: 20px;
}

.hero p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-left: 20px; /* Adjust this value as needed */
}

.btn {
    background-color: #00A1E6;
    color: #FFFFFF;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #005299; /* Change to your desired hover color */
    color: #FFFFFF; /* Ensure text remains white */
}

.hero-image img {
    width: 100%;
    max-width: 150px;
    border-radius: 10px;
}

footer {
    background-color: #0056a6;
    text-align: center;
    padding: 20px;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    width: 100%;
}
